<h1>My Blog</h1>

	<%= link_to 'Gold', new_subscription_path(:plan_name => 'gold') %> <br/>
	<%= link_to 'Silver', new_subscription_path(:plan_name => 'silver') %> <br/>

<%= link_to 'My Blog', articles_path %>